<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/addPet" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">

        <label for="type">Type:</label>
        <input type="text" id="type" name="type">

        <label for="color">Color:</label>
        <input type="text" id="color" name="color">

        <label for="birthday">Birthday:</label>
        <input type="text" id="birthday" name="birthday">
        <button type="submit">Add Pet</button>
    </form>
</body>
</html>